/*variables*/
/*variables*/
/*globales*/
/*imports*/
@import url("https://fonts.googleapis.com/css2?family=Bowlby+One+SC&family=Inter:wght@300;500;700&display=swap");
/*normalize*/
*, ::after, ::before {
  box-sizing: inherit;
  margin: 0%;
  padding: 0%;
  text-decoration: none;
  list-style: none; }

:hover {
  margin: 0%;
  padding: 0%; }

/*globals*/
html {
  font-size: 62.5%; }

body {
  display: grid;
  grid-template-rows: auto 1fr auto;
  min-height: 100vh;
  text-align: center; }

ul {
  list-style-type: none; }
  ul a {
    text-decoration: none;
    color: white;
    display: inline-block; }

/*helpers*/
.flex-row {
  display: flex; }

/* .flex-column{
    display: flex;
    flex-direction: column;
} */
/*partials*/
/*inicio de nav*/
.header {
  background: #EDC0C0;
  /* padding: 35px; */
  border: #ecdbdb solid;
  height: 120px;
  margin-top: 0px; }
  .header .navbar {
    background: #EDC0C0;
    left: 0px;
    top: 1px;
    justify-content: space-around;
    align-items: center; }
    .header .navbar .logoimg {
      width: 144px;
      height: 100px;
      top: 0px;
      float: right;
      flex-basis: 30%; }
    .header .navbar .menu {
      justify-content: center;
      overflow: hidden; }
    .header .navbar .menu--item {
      display: inline;
      text-align: center;
      font-weight: bold;
      font-size: xx-large;
      font-family: Poppins; }
    .header .navbar:hover {
      border-color: #FFFFFF; }
    .header .navbar .menu--link {
      font-size: 1.8em;
      padding: 1rem;
      padding: 1rem;
      font-size: 1.4em;
      font-family: Poppins;
      box-sizing: inherit; }

/*cierre de fila nav*/
/* MEDIA QUERIES*/
@media screen and (min-width: 320px) and (max-width: 1024px) {
  header {
    overflow: hidden;
    padding: 2em 0; }
    header.menu {
      flex-wrap: wrap;
      justify-content: center; }
    header.menu--link {
      color: #cf5656 !important; }
  a {
    float: none;
    width: 100%;
    text-align: center; }
  .logo3 {
    flex-wrap: wrap; }
  .img {
    flex-grow: 2; } }

/* inicio de footer */
footer {
  background: #EDC0C0;
  height: 10vh;
  width: 100%;
  margin-top: 0px; }
  footer.redsociales1 {
    background: #D11515;
    box-shadow: 0px 0px 4px rgba(0, 0, 0, 0.1);
    border-radius: 50px;
    left: 1309px;
    top: 946px;
    font-family: Poppins;
    font-style: normal;
    font-weight: 500;
    float: right;
    color: #FFFFFF; }
  footer.redsociales2 {
    background: #3C7BF0;
    box-shadow: 0px 0px 4px rgba(0, 0, 0, 0.1);
    border-radius: 50px;
    left: 1309px;
    top: 0px;
    font-family: Poppins;
    font-style: normal;
    font-weight: 500;
    float: right;
    color: #FFFFFF; }

/*fin de footer*/
/*views*/
/*fila de informacion de mi sitio*/
/*agrege gradiente*/
#grid {
  background-image: linear-gradient(to top, #ee9fa2, #eeadb2, #eebcc0, #edcace, #ebd8db); }
  #grid #marca {
    margin: 0;
    display: flex;
    flex-direction: column;
    flex: 1em;
    font-family: Poppins;
    font-style: normal;
    font-weight: bold;
    font-size: 36px;
    line-height: 54px; }
  #grid .nota {
    display: flex;
    flex-direction: column;
    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 28px;
    line-height: 20px;
    letter-spacing: 0.25px;
    color: rgba(0, 0, 0, 0.6); }
  #grid .img1 {
    display: inline-block;
    width: 949.5px;
    height: 698px;
    top: 209px;
    margin-left: auto; }

.img-fluid {
  width: 50%; }

.presentacion {
  gap: 2rem;
  align-items: center;
  padding: 0 2em; }

.logo3 {
  flex-basis: 50%;
  min-width: 320px; }
  .logo3img {
    display: inline-block;
    width: 700px;
    height: 698px;
    left: 0px;
    top: 209px; }

picture .img2__fila1 {
  display: inline-block;
  align-content: space-between;
  width: 381px;
  height: 215px;
  left: 129px;
  top: 203px; }

picture .img2__fila2 {
  background-size: cover;
  width: 381px;
  height: 215px;
  left: 129px;
  top: 203px; }

picture .img2__fila1--ev {
  width: 381px;
  height: 215px;
  left: 717px;
  top: 203px; }

picture .img2__fila2--ev {
  width: 381px;
  height: 215px;
  left: 717px;
  top: 203px; }

picture .img {
  display: inline-block;
  width: 949.5px;
  height: 698px;
  top: 209px;
  margin-left: auto; }

/* .container{
width:100%
} */
/* .logo{
background: rgb(185, 24, 24);
padding: 20px;
display: block;
} */
/*formulario de contacto*/
h1 {
  display: grid;
  justify-items: center;
  justify-content: center;
  align-items: center;
  position: sticky;
  width: 904px;
  height: 44px;
  left: 63px;
  top: 137px;
  text-align: center;
  color: #FFFFFF;
  background: #cf5656;
  box-shadow: 0px 4px 15px rgba(0, 0, 0, 0.1);
  border-radius: 6px;
  /*transformacion*/ }
  h1 .badge {
    transform: translate(140px, 27px); }

.container-contact {
  display: grid;
  width: 100%;
  flex: 1; }
  .container-contact .grid {
    display: grid;
    grid-template-columns: 2fr 1fr;
    justify-items: center; }
  .container-contact article {
    display: flex;
    flex-direction: column;
    position: sticky; }
    .container-contact article form {
      display: flex;
      flex-direction: column;
      flex-basis: content;
      display: inline-block;
      position: sticky;
      width: 891px;
      height: 625px;
      left: 97px;
      top: 464px;
      opacity: 0.6;
      border-radius: 6px; }
  .container-contact .datos {
    flex-direction: row;
    position: sticky;
    width: 186px;
    height: 49px;
    left: 76px;
    top: 228px;
    right: 79px;
    background: #C4C4C4;
    opacity: 0.6;
    border-radius: 6px;
    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 21px;
    align-items: center;
    text-align: center; }
  .container-contact .datos1 {
    flex-direction: row;
    position: sticky;
    width: 186px;
    height: 49px;
    left: 76px;
    top: 228px;
    right: 79px;
    background: #C4C4C4;
    opacity: 0.6;
    border-radius: 6px;
    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 21px;
    align-items: center;
    text-align: center; }
  .container-contact .botton1 {
    flex-direction: row;
    position: sticky;
    width: 94px;
    height: 58px;
    left: 122px;
    top: 296px;
    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 19px;
    color: #1D1D22;
    background: #C4C4C4;
    border-radius: 6px; }
  .container-contact .botton2 {
    flex-direction: row;
    position: sticky;
    width: 94px;
    height: 58px;
    left: 356px;
    top: 296px;
    background: #C4C4C4;
    border-radius: 6px;
    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 19px;
    color: #1D1D22; }
  .container-contact #direction-datos {
    width: 154px;
    height: 23px;
    left: 113px;
    top: 412px;
    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 20px;
    line-height: 23px;
    text-align: center;
    color: #000000; }
  .container-contact .direction {
    width: 870px;
    height: 26px;
    left: 97px;
    top: 464px;
    background: #C4C4C4;
    opacity: 0.6;
    border-radius: 6px;
    text-align: center; }
  .container-contact .terminos {
    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 20px;
    line-height: 23px;
    color: #000000; }

@media screen and (min-width: 320px) and (max-width: 728px) {
  section {
    width: 100%;
    float: none; }
  picture {
    flex-wrap: wrap;
    justify-content: center; } }
