/* inicio de footer */
footer{
    background: #EDC0C0;
    height: 10vh;
    width:100%;
    margin-top: 0px;
    &.redsociales2{
        background: #3C7BF0;
        box-shadow: 0px 0px 4px rgba(0, 0, 0, 0.1);
        border-radius: 50px;
        width: 100px;
        height: 26px;
        left: 1309px;
        top: 0px;
        font-family: Poppins;
        font-style: normal;
        font-weight: 500;
        font-size: 14px;
        line-height: 21px;
        float: right;
        color: #FFFFFF;
        
        }
    &.redsociales1{
            background: #D11515;
            box-shadow: 0px 0px 4px rgba(0, 0, 0, 0.1);
            border-radius: 50px;
            width: 100px;
            height: 26px;
            left: 1309px;
            top: 946px;
            font-family: Poppins;
            font-style: normal;
            font-weight: 500;
            font-size: 14px;
            line-height: 21px;
            float: right;
            color: #FFFFFF;
            }
}
/*fin de footer*/
